.crawenOS__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.crawenOS__brand div {
    flex: 1;
    max-width: 220px;
    min-width: 220px;
    margin: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.crawenOS__brand img {
    width: 99%;
    cursor: pointer;
    height: 99%;
}


@media screen and (max-width: 700px) {

    .crawenOS__brand {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .crawenOS__brand {
        display: none;
    }

}