.crawenOS__header {
    display: flex;
}

.crawenOS__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}


.crawenOS__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -0.04em;
}

.crawenOS__header-content p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: var(--color-text);

    margin-top: 2rem;
}


.crawenOS__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crawenOS__header-image img {
    border-radius: 5%;
    width: 95%;
    height: 95%;
    box-shadow: 0px 0px 21px 1px rgb(220 245 238 / 7%);
}

@media screen and (max-width: 1050px) {
    .crawenOS__header {
        flex-direction: column;
    }

    .crawenOS__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .crawenOS__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .crawenOS__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .crawenOS__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .crawenOS__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .crawenOS__header-content__input input,
    .crawenOS__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}